* {
    margin: 0;
    padding: 0;
}
body {
    background-color: beige;
}

ul {
    margin: 0;
    padding: 0;
    width: 370px;
    list-style-type: none;
}

ul li {
    display: inline;
}

ul li a {
    display: inline-block;
    width: 120px;
    background-color: #660e16;
    color: gold;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}