* {
  margin: 0;
  padding: 0; }

html:root {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52); }

body {
  height: 100%;
  background-color: rgba(225, 255, 236, 0.16); }

#container {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: inherit;
  margin: 0 auto;
  background-color: #f3f3f3; }
  #container header {
    display: flex;
    position: fixed;
    top: 0;
    height: 70px;
    width: 960px;
    background-color: #C9C9C9;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: 10px 10px; }
    #container header h1 {
      padding-left: 70px;
      padding-top: 15px;
      font-family: Arial;
      font-size: 32px; }
    #container header #main-menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      height: 30px;
      position: absolute;
      left: 170px;
      bottom: 4px; }
      #container header #main-menu li {
        display: inline;
        float: left;
        position: relative;
        border-top: solid 1px darkslategray;
        border-left: solid 1px darkslategray;
        border-bottom: solid 1px darkslategray; }
        #container header #main-menu li a {
          display: block;
          text-decoration: none;
          text-align: center;
          font-family: Arial;
          font-size: 13px;
          height: 24px;
          width: 100px;
          padding-top: 8px;
          background-color: white; }
        #container header #main-menu li ul {
          display: none;
          margin: 0;
          padding: 0;
          list-style-type: none;
          position: absolute;
          top: 100%; }
          #container header #main-menu li ul li {
            display: block;
            float: none; }
      #container header #main-menu li:last-child {
        border-right: solid 1px darkslategray; }
      #container header #main-menu li:hover ul {
        display: block; }
        #container header #main-menu li:hover ul li {
          border-top: none;
          border-left: solid 1px darkslategray;
          border-bottom: solid 1px darkslategray;
          border-right: solid 1px darkslategray; }
        #container header #main-menu li:hover ul li:first-child {
          border-top: solid 1px darkslategray; }
    #container header #user-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      right: 10px; }
      #container header #user-menu li {
        display: inline;
        float: left;
        position: relative; }
        #container header #user-menu li a {
          display: block;
          height: 30px;
          padding: 8px;
          text-decoration: none;
          text-align: center;
          font-family: Arial;
          font-size: 13px; }
    #container header form {
      position: absolute;
      right: 5px;
      bottom: 5px; }
      #container header form #form-input {
        width: 200px;
        height: 20px; }
      #container header form #form-submit {
        width: 60px;
        height: 24px; }
  #container #content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: inherit;
    background-color: white;
    padding-top: 70px; }
    #container #content aside {
      background-color: #E4E4E4; }
      #container #content aside#left {
        width: 170px; }
        #container #content aside#left ul#left-menu {
          list-style-type: none;
          display: block;
          float: none;
          position: relative;
          left: 20px;
          top: 20px; }
          #container #content aside#left ul#left-menu li {
            float: none;
            background-color: #ffffff;
            width: 130px;
            border-top: solid black 1px;
            border-left: solid black 1px;
            border-right: solid black 1px; }
            #container #content aside#left ul#left-menu li ul {
              display: none;
              list-style-type: none; }
              #container #content aside#left ul#left-menu li ul li {
                background-color: white; }
                #container #content aside#left ul#left-menu li ul li a {
                  text-decoration: none;
                  text-align: center;
                  display: block;
                  width: 120px;
                  height: 20px; }
            #container #content aside#left ul#left-menu li a {
              text-decoration: none;
              text-align: center;
              padding-top: 5px;
              padding-bottom: 5px;
              font-family: Arial;
              font-size: 13px;
              display: inline-block;
              width: 124px;
              height: 23px; }
          #container #content aside#left ul#left-menu li:hover {
            background-color: #dadada; }
            #container #content aside#left ul#left-menu li:hover ul {
              float: right;
              display: inline-block;
              position: absolute;
              left: 130px; }
          #container #content aside#left ul#left-menu li:last-child {
            border-bottom: solid black 1px; }
        #container #content aside#left article {
          padding-top: 20px;
          padding-left: 10px;
          padding-right: 10px; }
          #container #content aside#left article h2 {
            padding-top: 10px;
            padding-bottom: 5px;
            font-family: Arial;
            font-size: 20px; }
          #container #content aside#left article p {
            font-family: Arial;
            font-size: 13px; }
      #container #content aside#right {
        width: 230px; }
        #container #content aside#right h1 {
          font-family: Arial;
          font-size: 24px;
          font-weight: bold;
          padding-top: 20px;
          padding-left: 10px; }
        #container #content aside#right article.blogpost {
          display: flex;
          flex-direction: row;
          border: solid black 1px;
          margin-top: 5px;
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 5px; }
          #container #content aside#right article.blogpost figure {
            width: 110px; }
            #container #content aside#right article.blogpost figure img {
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 10px; }
            #container #content aside#right article.blogpost figure figcaption {
              text-align: center;
              margin-bottom: 5px;
              font-family: Arial;
              font-size: 13px; }
          #container #content aside#right article.blogpost p {
            font-family: Arial;
            font-size: 10px;
            padding-top: 10px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 10px; }
    #container #content div#main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      width: 560px; }
      #container #content div#main article {
        margin-left: 10px;
        margin-right: 10px; }
      #container #content div#main figure {
        float: left;
        margin-bottom: 10px;
        margin-right: 10px; }
        #container #content div#main figure figcaption {
          font-family: Arial;
          font-size: 13px;
          text-align: center; }
      #container #content div#main h1 {
        font-family: Arial;
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 5px; }
      #container #content div#main h2 {
        font-family: Arial;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 5px; }
      #container #content div#main p {
        font-family: Arial;
        font-size: 13px; }
      #container #content div#main #a1 {
        width: 260px; }
      #container #content div#main #a2 {
        width: 260px; }
      #container #content div#main #a3 {
        width: 540px;
        flex: 1 1 auto; }
  #container footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #666666;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 960px; }
    #container footer #copyleft {
      flex-basis: 155px;
      color: #f3f3f3;
      padding-left: 15px;
      font-family: Arial;
      font-size: 13px; }
    #container footer #bottom-menu {
      flex-basis: 620px;
      list-style: none; }
      #container footer #bottom-menu li {
        display: inline;
        float: left;
        border-left: solid 4px #f3f3f3; }
        #container footer #bottom-menu li a {
          display: block;
          width: 80px;
          height: 20px;
          padding-top: 10px;
          color: #ffffff;
          text-align: center;
          text-decoration: none;
          font-family: Arial;
          font-size: 13px; }
      #container footer #bottom-menu li:last-child {
        border-right: solid 4px #f3f3f3; }
    #container footer #social {
      flex-basis: 170px; }
      #container footer #social button {
        width: 50px;
        height: 30px;
        border-radius: 6px; }
        #container footer #social button a {
          text-decoration: none;
          font-family: Arial;
          font-size: 16px;
          color: darkslategrey; }

/*# sourceMappingURL=main.css.map */
