// Основной файл SCSS
@import "../scss/base/reset";
@import "../scss/helpers/variables";
@import "../scss/helpers/helpers";
@import "../scss/helpers/functions";
@import "../scss/helpers/mixins";
@import "../scss/base/typography";
@import "../scss/layout/grid";
@import "../scss/components/buttons";
@import "../scss/components/navigation";
@import "../scss/components/dropdown";
@import "../scss/layout/forms";

#container {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: inherit;
  margin: 0 auto;
  background-color: rgb(243, 243, 243);
  @import "layout/header";
  #content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: inherit;
    background-color: $content_color;
    padding-top: 70px;
    @import "../scss/layout/sidebar";
    @import "../scss/layout/content";
  }
  @import "layout/footer";
}