div#main {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  justify-content: space-between;
  align-content: flex-start;
  width: 560px;
  article {
    margin: {
      left: 10px;
      right: 10px;
    }
  }
  figure {
    float: left;
    margin: {
      bottom: 10px;
      right: 10px;
    }
    figcaption {
      font: {
        family: Arial;
        size: 13px;
      }
      text-align: center;
    }
  }
  h1 {
    font: {
      family: Arial;
      size: 24px;
    }
    padding: {
      top: 10px;
      bottom: 5px;
    }
  }
  h2 {
    font: {
      family: Arial;
      size: 20px;
    }
    padding: {
      top: 10px;
      bottom: 5px;
    }
  }
  p {
    font: {
      family: Arial;
      size: 13px;
    }
  }
  #a1 {
    width: 260px;
  }
  #a2 {
    width: 260px;
  }
  #a3 {
    width: 540px;
    flex: 1 1 auto;
  }
}
