footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $footer_color;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 960px;
  #copyleft {
    flex-basis: 155px;
    color: #f3f3f3;
    padding-left: 15px;
    font: {
      family: Arial;
      size: 13px;
    }
  }
  #bottom-menu {
    flex-basis: 620px;
    list-style: none;
    li {
      display: inline;
      float: left;
      border-left: solid 4px #f3f3f3;
      a {
        display: block;
        width: 80px;
        height: 20px;
        padding-top: 10px;
        color: #ffffff;
        text: {
          align: center;
          decoration: none;
        }
        font: {
          family: Arial;
          size: 13px;
        }
      }
    }
    li:last-child {
      border-right: solid 4px #f3f3f3;
    }
  }
  #social {
    flex-basis: 170px;
    button {
      width: 50px;
      height: 30px;
      border: {
        radius: 6px;
      }
      a {
        text: {
          decoration: none;
        }
        font: {
          family: Arial;
          size: 16px;
        }
        color: darkslategrey;
      }
    }
  }
}
