header {
  display: flex;
  position: fixed;
  top: 0;
  height: 70px;
  width: 960px;
  background: {
    color: $header_color;
    image: url("../images/logo.jpg");
    repeat: no-repeat;
    size: 50px 50px;
    position: 10px 10px;
  }
  h1 {
    padding: {
      left: 70px;
      top: 15px;
    }
    font: {
      family: Arial;
      size: 32px;
    }
  }
  #main-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 30px;
    position: absolute;
    left: 170px;
    bottom: 4px;
    li {
      display: inline;
      float: left;
      position: relative;
      border: {
        top: solid 1px darkslategray;
        left: solid 1px darkslategray;
        bottom: solid 1px darkslategray;
      }
      a {
        display: block;
        text: {
          decoration: none;
          align: center;
        }
        font: {
          family: Arial;
          size: 13px;
        }
        height: 24px;
        width: 100px;
        padding-top: 8px;
        background-color: white;
      }
      ul {
        display: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        top: 100%;
        li {
          display: block;
          float: none;
        }
      }
    }
    li:last-child {
      border: {
        right: solid 1px darkslategray;
      }
    }
    li:hover ul {
      display: block;
      li {
        border: {
          top: none;
          left: solid 1px darkslategray;
          bottom: solid 1px darkslategray;
          right: solid 1px darkslategray;
        }
      }
      li:first-child {
        border: {
          top: solid 1px darkslategray;
        }
      }
    }
  }
  #user-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 10px;
    li {
      display: inline;
      float: left;
      position: relative;
      a {
        display: block;
        height: 30px;
        padding: 8px;
        text: {
          decoration: none;
          align: center;
        }
        font: {
          family: Arial;
          size: 13px;
        }
      }
    }
  }
  form {
    position: absolute;
    right: 5px;
    bottom: 5px;
    #form-input {
      width: 200px;
      height: 20px;
    }
    #form-submit {
      width: 60px;
      height: 24px;
    }
  }
}