aside {
  background-color: $sidebar_color;
  &#left {
    width: 170px;
    ul#left-menu {
      list-style-type: none;
      display: block;
      float: none;
      position: relative;
      left: 20px;
      top: 20px;
      li {
        float: none;
        background-color: #ffffff;
        width: 130px;
        border: {
          top: solid black 1px;
          left: solid black 1px;
          right: solid black 1px;
        }
        ul {
          display: none;
          list-style-type: none;
          li {
            background-color: white;
            a {
              text: {
                decoration: none;
                align: center;
              }
              display: block;
              width: 120px;
              height: 20px;
            }
          }
        }
        a {
          text: {
            decoration: none;
            align: center;
          }
          padding: {
            top: 5px;
            bottom: 5px;
          }
          font: {
            family: Arial;
            size: 13px;
          }
          display: inline-block;
          width: 124px;
          height: 23px;
        }
      }
      li:hover {
        background-color: #dadada;
        ul {
          float: right;
          display: inline-block;
          position: absolute;
          left: 130px;
        }
      }
      li:last-child {
        border: {
          bottom: solid black 1px;
        }
      }
    }
    article {
      padding: {
        top: 20px;
        left: 10px;
        right: 10px;
      }
      h2 {
        padding: {
          top: 10px;
          bottom: 5px;
        }
        font: {
          family: Arial;
          size: 20px;
        }
      }
      p {
        font: {
          family: Arial;
          size: 13px;
        }
      }
    }
  }
  &#right {
    width: 230px;
    h1 {
      font: {
        family: Arial;
        size: 24px;
        weight: bold;
      }
      padding: {
        top: 20px;
        left: 10px;
      }
    }
    article.blogpost {
      display: flex;
      flex-direction: row;
      border: solid black 1px;
      margin: {
        top: 5px;
        left: 10px;
        right: 10px;
        bottom: 5px;
      }
      figure {
        width: 110px;
        img {
          padding: {
            left: 5px;
            right: 5px;
            top: 10px;
          }
        }
        figcaption {
          text-align: center;
          margin-bottom: 5px;
          font: {
            family: Arial;
            size: 13px;
          }
        }
      }
      p {
        font: {
          family: Arial;
          size: 10px;
        }
        padding: {
          top: 10px;
          right: 5px;
          left: 5px;
          bottom: 10px;
        }
      }
    }
 }
}